<% if current_user.present? %>



  <p> Welcome </p>
  <%= form_for("user", :url => user_session_path) do |f| %>
    <div> 
      <%= link_to "Create Open Group", new_open_group_path() %> <br />
      <%= link_to "Create Course", new_course_path() %> <br />
      <%= link_to "Create Closed Group", new_closed_group_path() %>
    </div>
  <% end %> 

  <p> Your groups: </p>
    <% @your_opens = UserOpenGroup.all
      @your_opens.each do |a|
        if current_user.id == a.user_id %>
          <%= link_to OpenGroup.find(a.open_group_id).name,  {:controller => :open_groups, :action => :show, :id => OpenGroup.find(a.open_group_id).id }, {:method => :get }  %>
        <% end
    end

  @yours_courses = UserCourse.all
    @yours_courses.each do |b|
      if current_user.id == b.user_id
        @yours1.push(Course.find(b.course_id).name) %>
        <%= link_to Course.find(b.course_id).name,  {:controller => :open_groups, :action => :show, :id => Course.find(b.course_id).id }, {:method => :get }  %>
      <% end
    end

  @yours_closeds = UserClosedGroup.all
  @yours2 = Array.new
    @yours_closeds.each do |c|
      if current_user.id == c.user_id %>
        <%= link_to ClosedGroup.find(c.closed_group_id).name,  {:controller => :open_groups, :action => :show, :id => ClosedGroup.find(c.closed_group_id).id }, {:method => :get }  %>
      <% end
    end %>
    <br />
    ------------------------------------------------
    
    
 
    <p> Famous Open Groups: </p>
      <% OpenGroup.order("counter DESC").limit(3).each do |x| %>
        <%= x.name %> 
        /-/
        <%= x.description %>
        /-/
        <% @likes = LikesOpenGroup.where(:open_group_id => x.id) %>
        <%= @likes.length %>
        /-/
        <% users = UserOpenGroup.where(:open_group_id => x.id) %>
        <%= users.length %>
        /-/

        <% @users = UserOpenGroup.where(:open_group_id => x.id) 
          @usersname = Array.new 
          @users.each do |user| 
            @usersname.push(User.find(user.user_id).name) 
              if current_user.present?
                if user.user_id == current_user.id 
                  @pesho = true
                  break
                else
                  @pesho = false 
                end
              end
        end %>

        <% if current_user.present? && !@pesho %>
          <%= link_to "Join", {:controller => :open_groups, :action => :join, :id => x.id }, {:method => :post } %>
        <% end %>
        <br />
      <% end %>
      <br />
    <p> Famous Courses: </p>
      <% Course.order("counter DESC").limit(3).each do |x| %>
        <%= x.name %>
        /-/
        <%= x.description %>
        /-/
        <% @likes = LikesCourse.where(:course_id => x.id) %>
        <%= @likes.length %>
        /-/
        <% users = UserCourse.where(:open_group_id => x.id) %>
        <%= users.length %>
        /-/

        <% @users = UserOpenGroup.where(:open_group_id => x.id) 
          @usersname = Array.new 
          @users.each do |user| 
            @usersname.push(User.find(user.user_id).name) 
              if current_user.present?
                if user.user_id == current_user.id 
                  @pesho = true
                  break
                else
                  @pesho = false 
                end
              end
        end %>

        <% if current_user.present? && !@pesho %>
          <%= link_to "Join", {:controller => :open_groups, :action => :join, :id => x.id }, {:method => :post } %>
        <% end %>
        <br />
      <% end %>
      <br />
    <p> Famous Closed Groups: </p>
      <% ClosedGroup.order("counter DESC").limit(3).each do |x| %>
        <%= x.name %>
        /-/
        <%= x.decription %>
        /-/
        <% @likes = LikesClosedGroup.where(:closed_group_id => x.id) %>
        <%= @likes.length %>
        /-/
        <% users = UserOpenGroup.where(:open_group_id => x.id) %>
        <%= users.length %>
        /-/

        <% @users = UserOpenGroup.where(:open_group_id => x.id) 
          @usersname = Array.new 
          @users.each do |user| 
            @usersname.push(User.find(user.user_id).name) 
              if current_user.present?
                if user.user_id == current_user.id 
                  @pesho = true
                  break
                else
                  @pesho = false 
                end
              end
        end %>

        <% if current_user.present? && !@pesho %>
          <%= link_to "Join", {:controller => :open_groups, :action => :join, :id => x.id }, {:method => :post } %>
        <% end %>
        <br />
      <% end %>


<% else %>
    <div class="navigation-bar fixed-top dark shadow">
      <nav class="navigation-bar-content topbar" style="margin:0 auto; ">
        <a href="#" >

        
        <%= image_tag("logo.png", :style => "padding: 0; margin:0; padding-top:5px;", :class => "element") %>

        </a>
        <span class="element-divider"></span>
         
        <%= form_for("user", :url => user_session_path) do |f| %> 
        <button type="submit" class="element place-right">
          <font style="font-weight:bold; font-size: 15px;">Sign in</font>
        </button>


        <div class="element place-right" style="padding-right: 11px;">
          <div class="input-control checkbox" >
          <label>
             <%= f.check_box :remember_me, :checked => "checked" %>    
            <span class="check"></span>           
          </label>
          </div>
        </div>


        <div class="element place-right" style="padding-left: -10px;">
          <div class="input-control password " data-role="input-control">
            <%= f.password_field :password, :placeholder => "Парола", :style => "width: 200px; margin-left: -4px; margin-right: -4px", :tabindex => 2 %>
          </div>    
        </div>
        <div class="element place-right" style="padding-left: -10px;">
            <div class="input-control text " data-role="input-control">
              <%= f.email_field :email, :autofocus => true, :placeholder => "Е-mail", :style => "width: 200px; margin-right: -4px; margin-left: -4px;",  :tabindex => 1  %>
            </div>  
        </div>
        <% end %>
      </nav>
    </div>
    <div style="height:40px;"> </div>

    <%= image_tag("cover.jpg", :style => "min-width: 1000px; position: relative;") %>
   
    <div class="block" style="background-color:white; position: absolute; height:auto; width: 100%; min-width: 1000px;  ">
      <div class="section group">
        <div class="col span_1_of_5"><h4>Групи за дискусия</h4><p class="centralno">Мястото, където всеки има думата - "В спора се ражда истината!".</p></div>
        <div class="col span_1_of_5"><h4>Частни групи</h4><p class="centralno">Целта на този тип групи е да се споделя лична информация между членовете.</p></div>
        <div class="col span_1_of_5 centered" style=" margin-bottom: 0;" >
          <h4>Регистрация</h4>
          <%= form_for(resource, :as => resource_name,  :url => registration_path(resource_name), :html => { :class => "hash"}) do |f| %>
          <form style="text-align: center;">
              <div class="input-control text" data-role="input-control">
                      <%= devise_error_messages! %>
                      <%= f.text_field :name, :placeholder => "Име и фамилия", :style => "margin-bottom:4px; text-align: center;",  :tabindex => 3 %> 
                      <%= f.email_field :email, :placeholder=>"Електронна поща", :style =>"margin-bottom:4px; text-align: center;",  :tabindex => 4 %>
                      <%= f.password_field :password, :placeholder=>"Парола", :style => "margin-bottom:4px; text-align: center;",  :tabindex => 5 %>
                      <%= f.password_field :password_confirmation, :placeholder=>"Повтори парола", :style => "margin-bottom:4px; text-align: center;",  :tabindex => 6 %>
                      <button type="submit" class="large button inverse" style="width: 100%;">Регистрирай се!</button>
              </div>
          </form>
          <% end %>
        </div>
        <div class="col span_1_of_5"><h4>Курсове</h4><p class="centralno">Тук можете да водите Вашия онлайн курс по един иновативен начин.</p></div>
        <div class="col span_1_of_5"><h4>Бързи въпроси</h4><p class="centralno">Задай въпрос - бързо, лесно и ефективно.</p></div>
      </div>
    </div>



<% end %>